{% extends "base.html" %}

{% block title %}Exam{% endblock title %}
{% block content %}


<script>
window.onunload = function() {
   alert("please stay on the page")
};
</script>
	

<form action="" method="POST" required>
	{% csrf_token %}

	{% for question_obj in question_obj_list %}

	
	
	<div class="card mt-5">
		<div class="card-header text-light bg-dark">
			<h5>Question : {{question_obj.question_no}}</h5>
		  </div>
		<div class="card-body">
		<h4>{{question_obj.question_text}}</h4>
			<div class="form-check" validate>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="{{question_obj.question_no}}" id="inlineRadio1" value="{{question_obj.choice_1}}" >
					<label class="form-check-label" for="inlineRadio1">{{question_obj.choice_1}}</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="{{question_obj.question_no}}" id="inlineRadio2" value="{{question_obj.choice_2}}">
					<label class="form-check-label" for="inlineRadio2">{{question_obj.choice_2}}</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="{{question_obj.question_no}}" id="inlineRadio3" value="{{question_obj.choice_3}}">
					<label class="form-check-label" for="inlineRadio3">{{question_obj.choice_3}}</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="{{question_obj.question_no}}" id="inlineRadio4" value="{{question_obj.choice_4}}">
					<label class="form-check-label" for="inlineRadio4">{{question_obj.choice_4}}</label>
				</div>
			</div>
		</div>
		
	</div>
	{% endfor %}
	
	<button type="submit" class="btn btn-dark mt-5"> Submit</button>
</form>

{% endblock content %}